<div class="nav-container">
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a id="landing-page" routerLink="/lp" routerLinkActive="activeRouterClass" class="custom-button"
      >Daron's Stock Screener</a
    >
    <span class="flex-spacer"></span>
    <div *ngIf="!authService.isAuthenticated">
      <a
        id="auth"
        routerLink="/login"
        routerLinkActive="activeRouterClass"
        class="custom-button"
        style="margin-right: 15px"
        >Login</a
      >
      <div class="custom-button">Signup</div>
    </div>
    <div *ngIf="authService.isAuthenticated" style="display: flex">
      <div class="custom-button">{{ authService.loggedUser.name }}</div>
      <div style="margin-left: 10px"></div>
      <div class="custom-button" (click)="logoutHandler()">Logout</div>
    </div>
  </mat-toolbar>
</div>
