<div>
  <div role="alert" *ngIf="errorMsg" class="error-msg">Login was unsuccessful. {{ errorMsg }}</div>
  <div class="login">
    <h2><strong>Stock Screener Login</strong></h2>
    <form [formGroup]="form" (ngSubmit)="onSubmitHandler()">
      <mat-form-field class="mt-4">
        <input matInput type="text" placeholder="Enter Email" formControlName="email" />
        <mat-error *ngIf="form.controls['email'].hasError">Please enter your email.</mat-error>
      </mat-form-field>
      <mat-form-field class="mt-4">
        <input matInput type="password" placeholder="Enter Password" formControlName="password" />
        <mat-error *ngIf="form.controls['password'].hasError"
          >Please enter your password.</mat-error
        >
      </mat-form-field>

      <div class="submit">
        <mat-spinner id="spinner" [diameter]="50" *ngIf="isLoading"></mat-spinner>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!form.valid"
          type="submit"
          *ngIf="!isLoading"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
