<div>
  <div role="alert" *ngIf="errorMsg" class="error-msg">Login was unsuccessful. {{ errorMsg }}</div>
  <div class="login">
    <h2>
      <strong>Stock Screener {{ isLogin ? 'Login' : 'Signup' }}</strong>
    </h2>

    <form *ngIf="isLogin" [formGroup]="loginForm" (ngSubmit)="onLoginHandler()">
      <div *ngFor="let input of inputFields$ | async">
        <mat-form-field class="mt-4">
          <input
            matInput
            [type]="input.type"
            [placeholder]="input.placeholder"
            [formControlName]="input.fcn"
            autocomplete="on"
          />
          <mat-error *ngIf="loginForm.controls[input.fcn].hasError">{{ input.errorMsg }}</mat-error>
        </mat-form-field>
      </div>
      <div class="submit">
        <mat-spinner id="spinner" [diameter]="50" *ngIf="isLoading"></mat-spinner>
        <button
          mat-raised-button
          style="margin-right: 15px"
          color="primary"
          [disabled]="!loginForm.valid"
          type="submit"
          *ngIf="!isLoading"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="!isLoading"
          (click)="onSwitchHandler('SIGNUP')"
        >
          Signup
        </button>
      </div>
    </form>

    <form *ngIf="!isLogin" [formGroup]="signupForm" (ngSubmit)="onSignupHandler()">
      <div *ngFor="let input of inputFields$ | async">
        <mat-form-field class="mt-4">
          <input
            matInput
            [type]="input.type"
            [placeholder]="input.placeholder"
            [formControlName]="input.fcn"
          />
          <mat-error *ngIf="signupForm.controls[input.fcn].hasError">{{
            input.errorMsg
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="submit">
        <mat-spinner id="spinner" [diameter]="50" *ngIf="isLoading"></mat-spinner>
        <button
          mat-raised-button
          style="margin-right: 15px"
          color="primary"
          [disabled]="!signupForm.valid"
          type="submit"
          *ngIf="!isLoading"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="primary"
          *ngIf="!isLoading"
          (click)="onSwitchHandler('LOGIN')"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
