<div class="container">
  <form [formGroup]="form">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Title</mat-label>
      <input matInput type="text" placeholder="Enter Portfolio Title" formControlName="title" />
    </mat-form-field>
    <mat-error *ngIf="getFormError('title')">Please enter a title.</mat-error>
  </form>

  <div style="margin-top: 2em"></div>
  <app-search (results)="onSearchHandler($event)" [autocompleteOnly]="true"></app-search>
  <div style="margin-top: 2em"></div>

  <div *ngIf="isLoading">
    <mat-spinner [diameter]="70" class="spinner"></mat-spinner>
  </div>

  <div *ngIf="!isLoading" style="height: 12em">
    <ag-grid-angular
      #agGrid
      class="ag-theme-balham"
      style="width: 100%; height: 100%"
      [rowData]="displayResults$ | async"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>

  <div>
    <button mat-button (click)="onSelectHandler('add')">
      Add
      <i class="fas fa-plus"></i>
    </button>
    <button mat-button (click)="onSelectHandler('remove')">
      Remove
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
  <div style="margin-top: 2em" *ngIf="selectedTickers.length > 0">
    Selected Stocks: {{ selectedTickers }}
  </div>
</div>
