.stock-table-container {
  margin: 0em auto 5em auto;
  min-width: 60em;
  max-width: 100em;
  border: 1px solid white;
  max-height: 40em;
}

.action-buttons {
  margin: auto auto 1em auto;
  color: white;
  border: 1px solid white;
  display: flex;
  border-radius: 5px;
  min-width: 60em;
  max-width: 100em;
}

/* .no-search-result {
  text-align: center;
  padding: 20px;
  color: orange;
} */
